include *.txt
include src/nanovar/*.c
recursive-include src/nanovar/gaps *.bed
recursive-include src/nanovar/model *.h5
recursive-include src/nanovar/css *.css
recursive-include src/nanovar/js *.js
recursive-include src/nanovar/ref *L1*
